[submodule "microservices/frontend"]
	path = microservices/frontend
	url = https://git.moneygames.io/sneks/frontend.git
	branch = "master"
[submodule "microservices/gameserver-service"]
	path = microservices/gameserver-service
	url = https://git.moneygames.io/sneks/gameserver-service.git
	branch = "master"
[submodule "microservices/playerstatus"]
	path = microservices/playerstatus
	url = https://git.moneygames.io/sneks/playerstatus.git
	branch = "master"
[submodule "microservices/serverlist"]
	path = microservices/serverlist
	url = https://git.moneygames.io/sneks/serverlist.git
	branch = "master"
[submodule "microservices/payserver"]
	path = microservices/payserver
	url = https://git.moneygames.io/sneks/payserver.git
	branch = "master"
[submodule "microservices/matchmaker"]
	path = microservices/matchmaker
	url = https://git.moneygames.io/sneks/matchmaker.git
	branch = "master"
[submodule "microservices/gameserver"]
	path = microservices/gameserver
	url = https://git.moneygames.io/sneks/gameserver
	branch = master
